Package: me.trsvsr.infigo
Name: Infigo
Depends: net.tihmstar.etasonuntether | net.tihmstar.untetherhomedepot
Version: 2.1
Architecture: iphoneos-arm
Description: Fixes LaunchDaemons not loading with the EtasonJB and UntetherHomeDepot untethers
Maintainer: Trevor Schmitt <tdogg9401@gmail.com>
Author: Trevor Schmitt <tdogg9401@gmail.com>
Section: System
Tag: role::hacker
